{% extends 'admin/admin.html.twig' %}

{% block main %}

    <main role="main">
        <h1 class="h2">User editing</h1>

        {{ form_start(form) }}

        <div class="form-group row">
            {{ form_label(form.username, '', {'label_attr': {'class': 'col-sm-2 col-form-label'}}) }}
            <div class="col-sm-10">
                {{ form_row(form.username, {'label': false , 'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="form-group row">
            {{ form_label(form.lastname, '', {'label_attr': {'class': 'col-sm-2 col-form-label'}}) }}
            <div class="col-sm-10">
                {{ form_row(form.lastname, {'label': false , 'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="form-group row">
            {{ form_label(form.password, '', {'label_attr': {'class': 'col-sm-2 col-form-label'}}) }}
            <div class="col-sm-10">
                {{ form_row(form.password, {'label': false , 'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="form-group row">
            {{ form_label(form.email, '', {'label_attr': {'class': 'col-sm-2 col-form-label'}}) }}
            <div class="col-sm-10">
                {{ form_row(form.email, {'label': false , 'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="form-group row">
            {{ form_label(form.description, '', {'label_attr': {'class': 'col-sm-2 col-form-label'}}) }}
            <div class="col-sm-10">
                {{ form_row(form.description, {'label': false , 'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="form-group row">
            {{ form_label(form.roles, '', {'label_attr': {'class': 'col-sm-2 col-form-label'}}) }}
            <div class="col-sm-10">
                {{ form_row(form.roles, {'label': false , 'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        {{ form_end(form) }}
    </main>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock javascripts %}
